<!-- <h1>Book List</h1> -->
<!-- <div>
  <h3 [textContent]="book?.name"></h3>
</div>
<div>{{ book?.name }}</div> -->

<!--! Data Binding   -->

<!--* Class binding - So first, we're going to give a class value in the div, as we can see here, and we
can equate this to a property or method from the component. Now here we need to know if a class
definition has been made for div before, and then if a property or method is synchronized like this,
delete the previously defined class expression, and then the property we define will be added.
Secondly, I want to use a class property of Div, and I want to link this feature to a method or
property like this. So this class property can be properties like Class.online or Class.Active. And
thirdly, we can use the energy class when I want to use more than one class binding feature so we
can use multiple classes using the energy class. Now here too I want to tell you, the values to be
returned from the energy class should be in the form of an object, so we can specify this with a
class property that will add. -->
<!-- <div [class]="getClassBinding(1)">
  <h2>First book is {{ model.getBooksId(1)?.name }}</h2>
</div>

<div [class]="getClassBinding(2)">
  <h2>Second book is {{ model.getBooksId(2)?.name }}</h2>
</div>

<button class="btn btn-success" [class.disabled]="disabled">Submit</button> -->

<!--* Style Binding - define style properties for elements in Angular.  -->
<!-- <div class="m-3" [ngClass]="getClassObject(1)">
  <h2><span [style.color]="color">First book</span> is {{ model.getBooksId(1)?.name }}</h2>
</div>

<div class="m-3" [ngClass]="getClassObject(2)">
  <h2>
    <span [ngStyle]="getStyleBinding(2)">Second book</span> is {{ model.getBooksId(2)?.name }}
  </h2>
</div> -->

<!--* Event Binding -->
<!-- <div (click)="onClickDiv()">
  <Button name="first button" class="btn btn-success" (click)="onClick($event)">Submit</Button>
  <Button name="second button" class="btn btn-success" (click)="onClick($event)">Submit</Button>
</div> -->

<!-- KeyUp Event -->
<!-- <input (keyup)="onKeyUp($event)" /> -->
<!-- <input [value]="name" (keyup.enter)="name = $event.target.value; onKeyUp()" /> -->
<!-- <input [(ngModel)]="name" (keyup.enter)="onKeyUp()" /> -->

<!--* Angular Pipes - these are used to transform data in Angular templates. -->
<!-- <h3>Lower-title CasePipes</h3>
{{ name1 }} <br />
{{ name1 | lowercase }} <br />
{{ name1 | titlecase }}

<h3>Number Case</h3>
{{ price }} <br />
{{ price | number }} <br />
{{ price | number : '1.2-2' }}

<h3>Date Case</h3>
{{ today }} <br />
{{ today | date }} <br />
{{ today | date : 'short' }} <br />
{{ today | date : 'medium' }} <br />
{{ today | date : 'd/M/yy' }} <br /> -->

<!-- Custom Pipe - You can create your own custom pipes in Angular to transform data according to your specific requirements. -->
<!-- <h3>Custom Pipe</h3>
{{ description | custompipe }} -->

<!--! Directives - Directives in Angular are special markers in the DOM that tell Angular to do something to a DOM element (like change its appearance, behavior, or layout). There are three types of directives in Angular: Component Directives, Structural Directives, and Attribute Directives. -->
<!-- *ngIf - Used to conditionally include or exclude a part of the DOM based on a boolean expression. -->
<!-- <div *ngIf="model.getBooks().length > 0; then bookList; else noBooks"></div>
<br /><br /> -->
<!-- <div *ngIf="model.getBooks().length == 0"></div> -->

<!-- [hidden] - This directive is used to hide or show an element based on a boolean expression. When the expression evaluates to true, the element is hidden; when it evaluates to false, the element is shown. -->
<!-- <div [hidden]="model.getBooks().length == 0">
  There are {{ model.getBooks().length }} books on the list.
</div>

<div [hidden]="model.getBooks().length != 0">There are no books on the list.</div>

<ng-template #bookList> There are {{ model.getBooks().length }} books on the list. </ng-template>
<ng-template #noBooks>There are no books on the list.</ng-template>
<br /><br /> -->

<!-- ngSwitch - This directive is used to display one of several possible elements based on the value of an expression. -->
<!-- <div [ngSwitch]="model.getBooks().length">
  <span *ngSwitchCase="0">There is no Book.</span>
  <span *ngSwitchCase="1">There is 1 Book.</span>
  <span *ngSwitchDefault>There are many Book.</span>
</div>

<div [ngSwitch]="model.getBooksId(1)?.name">
  <span *ngSwitchCase="bookName">Book name is Attack on Titan</span>
  <span *ngSwitchCase="'Solo Leveling'">Book name is Solo Leveling</span>
  <span *ngSwitchDefault>Book name is Dr. Stone</span>
</div>
<br /><br /> -->

<!-- *ngFor - This directive is used to repeat a part of the DOM for each item in a collection. -->
<!-- <ul>
  <li *ngFor="let book of model.getBooks(); index as i; first as f">
    {{ i + 1 }} - {{ book.name }} by {{ book.writer }} - Price: {{ book.price }}
    <span *ngIf="f">is the first item.</span>
  </li>
</ul>
<br /><br /> -->

<!--* Change Detection - simple explanation of how Angular's change detection mechanism works to keep the user interface in sync with the underlying data model. -->
<!-- <div>
  <button (click)="addBook()" class="btn btn-success">Add Book</button>
  <ul>
    <li *ngFor="let book of model.getBooks()">
      {{ book.name }}
      <button (click)="deleteBook(book)" class="btn btn-danger">Delete</button>
      <button (click)="updateBook(book)" class="btn btn-primary">Update</button>
    </li>
  </ul>
</div> -->

<!--* ngTemplateOutlet - This directive is used to insert a template into the DOM dynamically. It allows you to define a template and then render it in different places based on certain conditions. -->
<!-- <ng-template
  [ngTemplateOutlet]="bookList1"
  [ngTemplateOutletContext]="{ books: model.getBooks() }"
></ng-template>
<ng-template
  [ngTemplateOutlet]="bookList1"
  [ngTemplateOutletContext]="{ books: model.getBooks() }"
></ng-template>
<ng-template #bookList1 let-books="books">
  <div>
    <ul>
      <li *ngFor="let book of books">
        {{ book.name }}
      </li>
    </ul>
  </div>
</ng-template> -->

<!--* Custom Directive -->
<!-- <input type="text" appForEmail /> -->

<!--* Form -->
<!-- <div class="container">
  <div class="row">
    <div class="col-10">
      <div class="m-2">
        <form #form="ngForm" (ngSubmit)="submitForm(form)">
          <div class="bg-danger text-white" *ngIf="formSubmit && form.invalid">
            There is an error in the form. Please correct it before submitting.
            <ul>
              <li *ngFor="let error of getFormValitdationErrors(form)">
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="bg-primary text-white m-3 p-3">
            {{ jsonBook }}
          </div>
          <div class="form-group m-2">
            <label>Name</label>
            <input
              [(ngModel)]="newBook.name"
              minlength="3"
              name="bName"
              #name="ngModel"
              type="text"
              class="form-control"
              required
            /> -->
<!-- <div class="alert alert-danger" *ngIf="!name.valid && name.touched"> -->
<!-- <div class="alert alert-danger" *ngIf="(formSubmit || name.dirty) && name.invalid">
              <p *ngFor="let error of getValidationErrors(name, 'bName')">
                {{ error }}
              </p> -->
<!-- <p *ngIf="name.errors?.['required']">Name is required!</p>
            <p *ngIf="name.errors?.['minlength']">You must enter at least 3 characters.</p> -->
<!-- </div>
          </div>
          <div class="form-group m-2">
            <label>Writer</label>
            <input
              maxlength="10"
              [(ngModel)]="newBook.writer"
              name="bWriter"
              #writer="ngModel"
              type="text"
              class="form-control"
              required
            />
            <div class="alert alert-danger" *ngIf="!writer.valid && writer.touched">
              <p *ngIf="writer.errors?.['required']">Writer is required!</p>
              <p *ngIf="writer.errors?.['maxlength']">You must enter no more than 10 characters.</p>
            </div>
          </div>
          <div class="form-group m-2">
            <label>Price</label>
            <input
              pattern="[0-9]"
              [(ngModel)]="newBook.price"
              name="bPrice"
              #price="ngModel"
              type="text"
              class="form-control"
              required
            />
            <div class="alert alert-danger" *ngIf="!price.valid && price.touched">
              <p *ngIf="price.errors?.['required']">Price is required!</p>
              <p *ngIf="price.errors?.['pattern']">
                You must only enter numbers. Less than 10 digits.
              </p>
            </div>
          </div>
          <button
            (click)="addBook(newBook)"
            class="btn btn-primary"
            [disabled]="formSubmit && form.invalid"
            [class.btn-secondary]="formSubmit && form.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!--* Reactive Form -->
<!-- <div class="m-4">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group m-2">
      <label>Name</label>
      <input class="form-control" formControlName="name" /> -->
<!-- <input class="form-control" [formControl]="name" /> -->
<!-- <div class="alert alert-danger" *ngIf="name?.touched && name?.invalid">
        <ul>
          <li *ngIf="name?.errors?.['required']">Name is Required!</li>
          <li *ngIf="name?.errors?.['minlength']">You must enter at least 3 characters.</li>
        </ul>
      </div>
    </div>
    <div class="form-group m-2">
      <label>Writer</label>
      <input class="form-control" formControlName="writer" /> -->
<!-- <input class="form-control" [formControl]="writer" /> -->
<!-- </div>
    <div class="form-group m-2">
      <label>Price</label>
      <input class="form-control" formControlName="price" /> -->
<!-- <input class="form-control" [formControl]="price" /> -->
<!-- </div>
    <div class="form-group m-2">
      <label>Image</label>
      <input class="form-control" formControlName="image" />
      <div class="alert alert-danger" *ngIf="image?.touched && image?.invalid">
        <ul>
          <li *ngIf="image?.errors?.['required']">Image is Required!</li>
          <li *ngIf="image?.errors?.['wrongExtension']">
            Invalid image extension. Only .jpg and .png are allowed.
          </li>
        </ul>
      </div>
    </div>

    <button type="submit" (click)="updateBook()" class="btn btn-primary m-2">Submit</button> -->
<!-- <button type="submit" (click)="updateName()" class="btn btn-primary m-2">Submit</button> -->
<!-- </form>
</div> -->

<!--* HTTP Service -->
<post>
  
</post>
