<h1>Book List</h1>
<!-- <div>
  <h3 [textContent]="book?.name"></h3>
</div>
<div>{{ book?.name }}</div> -->

<!--! Data Binding   -->

<!--* Class binding - So first, we're going to give a class value in the div, as we can see here, and we
can equate this to a property or method from the component. Now here we need to know if a class
definition has been made for div before, and then if a property or method is synchronized like this,
delete the previously defined class expression, and then the property we define will be added.
Secondly, I want to use a class property of Div, and I want to link this feature to a method or
property like this. So this class property can be properties like Class.online or Class.Active. And
thirdly, we can use the energy class when I want to use more than one class binding feature so we
can use multiple classes using the energy class. Now here too I want to tell you, the values to be
returned from the energy class should be in the form of an object, so we can specify this with a
class property that will add. -->
<!-- <div [class]="getClassBinding(1)">
  <h2>First book is {{ model.getBooksId(1)?.name }}</h2>
</div>

<div [class]="getClassBinding(2)">
  <h2>Second book is {{ model.getBooksId(2)?.name }}</h2>
</div>

<button class="btn btn-success" [class.disabled]="disabled">Submit</button> -->

<!--* Style Binding - define style properties for elements in Angular.  -->
<!-- <div class="m-3" [ngClass]="getClassObject(1)">
  <h2><span [style.color]="color">First book</span> is {{ model.getBooksId(1)?.name }}</h2>
</div>

<div class="m-3" [ngClass]="getClassObject(2)">
  <h2>
    <span [ngStyle]="getStyleBinding(2)">Second book</span> is {{ model.getBooksId(2)?.name }}
  </h2>
</div> -->

<!--* Event Binding -->
<!-- <div (click)="onClickDiv()">
  <Button name="first button" class="btn btn-success" (click)="onClick($event)">Submit</Button>
  <Button name="second button" class="btn btn-success" (click)="onClick($event)">Submit</Button>
</div> -->

<!-- KeyUp Event -->
<!-- <input (keyup)="onKeyUp($event)" /> -->
<!-- <input [value]="name" (keyup.enter)="name = $event.target.value; onKeyUp()" /> -->
<!-- <input [(ngModel)]="name" (keyup.enter)="onKeyUp()" /> -->

<!--* Angular Pipes - these are used to transform data in Angular templates. -->
<!-- <h3>Lower-title CasePipes</h3>
{{ name1 }} <br />
{{ name1 | lowercase }} <br />
{{ name1 | titlecase }}

<h3>Number Case</h3>
{{ price }} <br />
{{ price | number }} <br />
{{ price | number : '1.2-2' }}

<h3>Date Case</h3>
{{ today }} <br />
{{ today | date }} <br />
{{ today | date : 'short' }} <br />
{{ today | date : 'medium' }} <br />
{{ today | date : 'd/M/yy' }} <br /> -->

<!-- Custom Pipe - You can create your own custom pipes in Angular to transform data according to your specific requirements. -->
<!-- <h3>Custom Pipe</h3>
{{ description | custompipe }} -->

<!--! Directives - Directives in Angular are special markers in the DOM that tell Angular to do something to a DOM element (like change its appearance, behavior, or layout). There are three types of directives in Angular: Component Directives, Structural Directives, and Attribute Directives. -->
<!-- *ngIf - Used to conditionally include or exclude a part of the DOM based on a boolean expression. -->
<div *ngIf="model.getBooks().length > 0; then bookList; else noBooks"></div>

<!-- <div *ngIf="model.getBooks().length == 0"></div> -->

<!-- [hidden] - This directive is used to hide or show an element based on a boolean expression. When the expression evaluates to true, the element is hidden; when it evaluates to false, the element is shown. -->
<div [hidden]="model.getBooks().length == 0">
  There are {{ model.getBooks().length }} books on the list.
</div>

<div [hidden]="model.getBooks().length != 0">There are no books on the list.</div>

<ng-template #bookList> There are {{ model.getBooks().length }} books on the list. </ng-template>
<ng-template #noBooks>There are no books on the list.</ng-template>
